<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.gb.sb4.member.MemberMapper">
	
	<select id="getMemberIdCheck" resultType="MemberVO" parameterType="MemberVO">
		select id from Member where id = #{id}
	</select>
	
	<insert id="setInsert" parameterType="MemberVO">
		insert into Member(id, pw, name, age, email)
		values(#{id}, #{pw}, #{name}, #{age}, #{email})
	</insert>
		
	<insert id="setInsertFile" parameterType="MemberFileVO">
		insert into MemberFile(id, fileName, oriName)
		values(#{id}, #{fileName}, #{oriName})
	</insert>
	
	<select id="getMemberLogin" parameterType="MemberVO" resultMap="memberLoginResult">
		select M.id , M.name, MR.role
		<!-- id, name, role -->
		from Member M inner join MemberRole MR 
		on M.id = MR.id
		where M.id = #{id} and M.pw = #{pw}
	</select>
	
	<resultMap type="MemberVO" id="memberLoginResult">
		<id column="id" property="id"/>
		<result property="name" column="name"/>
		
		<collection property="roles" javaType="List" ofType="MemberRoleVO">
			<result property="role" column="role"/>
		</collection>
	</resultMap>
	 
</mapper>